h1 {
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 3em;
  }
}

h2 {
  font-size: 3em;
  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.8em;
  @media screen and (max-width: 768px) {
    font-size: 1.5em;
  }
}
