.header {
  text-align: center;

  .imgbdla {
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
  }

  .nav-item {
    padding: 0 2em;
  }
}
