.samedi-aprem-prog div {
  text-align: center;
}

.samedi-aprem-prog li img {
  display: inline-block;
  max-height: 500px;
  width: auto;
}

.samedi-aprem-titre {
  font-size: 1.4em;
}

.animations-continues {
  text-align: left;
  display: flex;
  justify-content: center;

  div {
    width: fit-content;
    p {
      margin-left: 1em;
    }
  
    ul {
      margin-left: 3em;
  
      ::before {
        content: '- ';
      }
    }
  }

}