.content-spectacle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .spectacle-body {
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: content-box;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .spectacle-header {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.2em;
      // font-size: 1.2em;
      flex: 1;

      .spectacle-title {
        margin: 0.5em;
        font-weight: bold;
      }

      .spectacle-timing {
        font-weight: bold;
        margin-right: 0.5em;
        &::after {
          content: ':';
        }
      }
    }

    .spectacle-image {
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
      max-width: 50%;
      max-height: 500px;
      margin: 0.5em 0;
      margin: 0 1em;
      border-radius: 1em;
      margin: 1em;
    }

    .spectacle-description {
      text-align: left;
    }
  }
}

.prog-spectacles > :nth-child(n-1):after {
  content: '';
  border-bottom: 1px solid lightgray;
  width: 50%;
}

.prog-spectacles :last-child:after {
  content: none;
}
